.album-contents{
  width: 100%;
}

.album-image-wrapper {
  position: relative;
  width: 100%;
}

.album-img{
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 8px;
  display: block;
}

.album-text{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}